<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact Manager</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="libs/jquery-ui-1.10.3.css" rel="stylesheet"/>
    <link href="libs/app.css" rel="stylesheet"/>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <span class="brand">Contact manager</span>
            </div>
        </div>
    </div>

    <div id="main-region" class="container">
        <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
    </div>

		<div id="dialog-region"></div>

		<script type="text/template" id="contact-list-layout">
        <div id="panel-region"></div>
        <div id="contacts-region"></div>
    </script>

    <script type="text/template" id="contact-list-panel">
        <button class="btn btn-primary js-new">New contact</button>

        <form id="filter-form" class="form-search form-inline pull-right">
            <div class="input-append">
                <input type="text" class="span2 search-query js-filter-criterion">
                <button type="submit" class="btn">Filter contacts</button>
            </div>
        </form>
    </script>

    <script type="text/template" id="contact-list-item">
        <td> <%= firstName %></td>
        <td> <%= lastName %></td>
        <td>
            <a href="#contacts/<%= id %>" class="btn btn-small js-edit">
                <i class="icon-eye-open"></i> Edit
            </a>
            <button class="btn btn-small js-delete">
                <i class="icon-remove"></i> Delete
            </button>
        </td>
    </script>

    <script type="text/template" id="contact-list">
        <thead>
            <tr><th>First Name</th><th>Last Name</th><th>Action</th></tr>
        </thead>
        <tbody> </tbody>
    </script>

    <script type="text/template" id="contact-form">
        <form>
            <div class="control-group">
                <label for="contact-firstName" class="control-label">
                    First name:</label>
                <input id="contact-firstName" name="firstName"
                       type="text" value="<%= firstName %>"/>
            </div>
            <div class="control-group">
                <label for="contact-lastName" class="control-label">
                    Last name:</label>
                <input id="contact-lastName" name="lastName"
                       type="text" value="<%= lastName %>"/>
            </div>
            <div class="control-group">
                <label for="contact-phoneNumber" class="control-label">
                    Phone number:</label>
                <input id="contact-phoneNumber" name="phoneNumber"
                       type="text" value="<%= phoneNumber %>"/>
            </div>
            <button class="btn js-submit">Save</button>
        </form>
    </script>

    <script type="text/template" id="missing-contact-view">
        <div class="alert alert-error">This contact doesn't exist !</div>
    </script>

    <script type="text/template" id="loading-view">
        <h1><%= title %></h1>
        <p><%= message %></p>
        <div id="spinner"></div>
    </script>

    <script src="libs/jquery.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/backbone.js"></script>
    <script src="libs/backbone.marionette.js"></script>
		<script src="libs/backbone.localStorage.min.js"></script>
    <script src="libs/backbone.syphon.js"></script>
		<script src="libs/jquery-ui-1.10.3.js"></script>

    <script src="app/app.js"></script>
    <script src="app/core/storage/localstorage.js"></script>
    <script src="app/contacts/contact.entities.js"></script>
    <script src="app/contacts/contact.router.js"></script>
		<script src="app/core/loading/loading.view.js"></script>
		<script src="app/core/common/contact-form.view.js"></script>
    <script src="app/contacts/contact-list/contact-list.view.js"></script>
    <script src="app/contacts/contact-list/contact-list.controller.js"></script>
    <script src="app/contacts/contact-edit/contact-edit.view.js"></script>
    <script src="app/contacts/contact-edit/contact-edit.controller.js"></script>
		<script src="app/contacts/contact-new/contact-new.view.js"></script>

    <script type="text/javascript">
        ContactManager.start();
    </script>

</body>
</html>